<div>
  <div class="name-container">
    <span class="business-card-header">Name:</span>
    <span class="business-card-name">{{contact.name}}</span>
  </div>
  <div class="surname-container">
    <span class="business-card-header">Surname:</span>
    <span class="business-card-surname">{{contact.surname}}</span>
  </div>
  <div class="birth-date-container">
    <span class="business-card-header">Birth Date:</span>
    <span class="business-card-birth-date">{{contact.birthDate}}</span>
  </div>
  <div class="address-container">
    <span class="business-card-header">Address:</span>
    <span class="business-card-address">{{contact.address}}</span>
  </div>
  <div class="city-container">
    <span class="business-card-header">City:</span>
    <span class="business-card-city">{{contact.city}}</span>
  </div>
  <div class="phone-container">
    <span class="business-card-header">Phone:</span>
    <span class="business-card-phone">{{contact.phoneNumber}}</span>
  </div>
</div>

